

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent >
  </system.webServer>
</configuration>



<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      </staticContent>
   </system.webServer>
</configuration>



<?xml version="1.0" encoding="UTF-8"?>

<configuration>
 <system.webServer>
              <rewrite>
                  <rules>
                      <rule name="Rewritehtml">
                          <match url="(.*)" />
                          <conditions logicalGrouping="MatchAll">
                              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                          </conditions>
                          <action type="Rewrite" url="{R:1}.html" />
                      </rule>
                  </rules>
              </rewrite>
 </system.webServer>
</configuration>



<?xml version="1.0" encoding="UTF-8"?>

<configuration>

 <system.webServer>

              <rewrite>
                  <rules>
                     <rule name="Redirect .html extension" stopProcessing="false">
                       <match url="^(.*).html$" ignoreCase="true" />
                  <conditions logicalGrouping="MatchAny">
                    <add input="{URL}" pattern="(.*).html$" ignoreCase="false" />
                  </conditions>
                       <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                     </rule>
                     <rule name="hide .html extension" stopProcessing="true">
                       <match url="^(.*)$" ignoreCase="true" />
                  <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                  </conditions>
                       <action type="Rewrite" url="{R:0}.html" />
                     </rule>
                  </rules>
              </rewrite>
 </system.webServer>
</configuration>

